<md-dialog flex="50" aria-label="Send Message">
  <form id="activityCreate" flex layout="column" layout-padding>
    <md-dialog-content>
      <div class="md-dialog-content" flex layout="column">
        <md-input-container>
          <label for="activity-date">Date:</label>
          <md-datepicker
            ng-model="activity.activityDate"
            md-placeholder="Activity Date:"
            md-open-on-focus
            md-min-date="activity.minDate"
            md-max-date="activity.maxDate"
          >
          </md-datepicker>
        </md-input-container>
        <md-input-container>
          <label for="activity-starttime">Start Time:</label>
          <input id="activity-starttime" type="time" autocomplete="off" ng-model="activity.activityStartTime"></input>
        </md-input-container>
        <md-input-container>
          <label for="activity-endtime">End Time:</label>
          <input id="activity-endtime" type="time" autocomplete="off" ng-model="activity.activityEndTime"></input>
        </md-input-container>
        <md-input-container>
          <label for="activity-title">Activity Title:</label>
          <input id="activity-title" autocomplete="off" ng-model="activity.activityTitle"></input>
        </md-input-container>
        <md-input-container>
          <label for="activity-location">Location:</label>
          <input id="activity-location" autocomplete="off" ng-model="activity.activityLocation"></input>
        </md-input-container>
        <md-select id="group-select" required multiple ng-model="activity.activityGroups"
          placeholder="Participating Groups:">
          <md-option ng-repeat="group in groups track by group.id" value="{{[group.id, group.name]}}">{{group.name}}</md-option>
        </md-select>
    </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-accent md-raised" flex="nogrow"s ng-click="sendAndClose(msg)">Send Announcement</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
