<div flex layout="row" layout-align="center center" class="signin container">
    <div layout="column" layout-align="center center" md-whiteframe="5" class="signin-form">
        <form layout="row" layout-align="end center" layout-wrap>
            <h1 flex="100" class="md-display-2 create-title">Create Event</h1>
            <md-input-container flex="50"  class="create-component">
                <label for="name">Event name</label>
                <input id="name" autocomplete="off" type="name" ng-model="form.name"/>
            </md-input-container>
            <md-input-container flex="50"  class="create-component">
                <label for="location">Event location</label>
                <input id="location" autocomplete="off" type="location" ng-model="form.location"/>
            </md-input-container>
            <md-datepicker ng-model="ctrl.startDate" md-placeholder="Start date"  class="create-component" md-open-on-focus ng-change="$ctrl.loadEndDate()"></md-datepicker>
            <md-datepicker ng-model="ctrl.endDate" md-placeholder="End date"  class="create-component" md-open-on-focus md-min-date="ctrl.startDate"></md-datepicker>
            <md-input-container flex="50"  class="create-component">
                <label for="group">Add Group (i.e. volunteer, greeter)</label>
                <input id="group" autocomplete="off" type="group" ng-model="form.group"/>
            </md-input-container>
            <md-button class="md-accent md-raised" id="group-button" aria-label="Add Group" ng-click="$ctrl.addGroup()">Add Group</md-button>
            <md-button class="md-accent md-raised" aria-label="Create Event" ng-click="$ctrl.handleEventClick()">Create Event</md-button>
        </form>
    </div>
    <div layout="column" layout-align="center" md-whiteframe="5" class="signin-form" id="group-list">
        <md-toolbar layout="row" class="md-hue-3" id="create-toolbar">
            <div class="md-toolbar-tools">
                <span>Current Groups</span>
            </div>
        </md-toolbar>
        <md-content id="create-list">
            <md-list class="md-dense" >
                <md-list-item class="md-3-line" ng-repeat="group in $ctrl.groups track by $index" value={{group}}>
                    <div class="md-list-item-text" layout="column">
                    <p>{{group}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>
