<div flex layout="column" layout-align="start" layout-padding class="container">
  <div class="event-info-card">
    <div class="event-title">{{$ctrl.event.name}}</div>
    <div class="event-details">{{$ctrl.event.startdateReadable}} - {{$ctrl.event.enddateReadable}}</div>
    <div class="event-details">{{$ctrl.event.location}}</div>
  </div>
  <div class="schedule">
    <div flex layout="row" layout-align="start center">
      <md-button class="schedule-button" flex="auto" ng-if="$ctrl.groupSchedule" ng-click="$ctrl.showSchedule('group')"
        ng-class="{'selected': $ctrl.displayedSchedule === 'group'}">{{$ctrl.group.name}} Schedule</md-button>
      <md-button class="schedule-button" flex="auto" ng-click="$ctrl.showSchedule('event')"
        ng-class="{'selected': $ctrl.displayedSchedule === 'event'}">Event Schedule</md-button>
    </div>
  </div>
  <md-content flex>
    <schedule-display ng-if="$ctrl.groupSchedule && $ctrl.displayedSchedule === 'group'" schedule="$ctrl.groupSchedule"></schedule-display>
    <schedule-display ng-if="$ctrl.displayedSchedule === 'event'" schedule="$ctrl.eventSchedule" user="$ctrl.user"></schedule-display>
  </md-content>
  <div ng-if="$ctrl.user.role === 'organizer'">
    <activity-create event-id="$ctrl.event.id" event-info="$ctrl.event"></activity-create>
  </div>
</div>
