<md-dialog flex="50" aria-label="Send Message">
  <form flex layout="column" layout-padding>
    <md-dialog-content>
      <div class="md-dialog-content" flex layout="column">
        <md-input-container>
          <label for="compose-message-body">Something to tell or ask the group?</label>
          <textarea id="compose-message-body" required ng-model="msg.messageBody"></textarea>

        </md-input-container>
        <md-button class="md-fab md-mini" flex="nogrow" ng-click="ShowHide()">+</md-button>
        <div ng-show = "IsVisible">

        <md-input-container>
          <div ng-repeat="i in items track by $index">
            <md-button>
              <img ng-src="{{ path }}{{ i }}" width="50px" height="50px" ng-click='selectSticker(i)' />
            </md-button>
          </div>
        </md-input-container>
      </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <md-button class="md-accent md-raised" flex="nogrow" ng-click="sendAndClose(msg)">Send Message</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
