<md-dialog flex="50" aria-label="Send Message">
  <form flex layout="column" layout-padding>
    <md-dialog-content>
      <div class="md-dialog-content" flex layout="column">
        <md-input-container>
          <label for="compose-message-body">Something to tell or ask the group?</label>
          <textarea id="compose-message-body" required ng-model="msg.messageBody"></textarea>
        </md-input-container>

        <md-menu>
          <md-button class="md-fab md-mini" flex="nogrow" ng-click="$mdMenu.open($event)" aria-label="Open sticker menu">+</md-button>
          <md-menu-content>
            <md-menu-item>
              <md-button ng-click="toggleCategory('animals')">
                Animals</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="toggleCategory('communication')">
                Communication</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="toggleCategory('pokemon')">
                Pokemon</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        <div ng-show="isShown">
          <md-input-container>
            <div ng-repeat="i in items">
              <md-button>
                <img ng-src="{{ resource }}{{ i }}" width="50px" height="50px" ng-click='selectSticker(i)' ng-dblclick='addFave(i)'/>
              </md-button>
            </div>
          </md-input-container>
        </div>


      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <md-button class="md-accent md-raised" flex="nogrow" ng-click="sendAndClose(msg)">Send Message</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
