<div flex layout="column" layout-align="center center" class="signin container">
  <div layout="column" layout-align="center center" md-whiteframe="5" class="signin-form">
    <form flex layout="row" layout-align="end center" layout-wrap>
      <h1 flex="100" class="md-display-2">Sign Up</h1>
      <md-input-container flex="50" class="signup-component">
          <label for="firstname">First name</label>
          <input id="firstname" autocomplete="off" type="firstname" ng-model="form.firstname"/>
      </md-input-container>
      <md-input-container flex="50" class="signup-component">
          <label for="lastname">Last name</label>
          <input id="lastname" autocomplete="off" type="lastname" ng-model="form.lastname"/>
      </md-input-container>
      <md-input-container flex="50" class="signup-component">
          <label for="email">Email</label>
          <input id="email" autocomplete="off" type="email" ng-model="form.email"/>
      </md-input-container>
      <md-input-container flex="50" class="signup-component">
        <label for="password">&nbsp;&nbsp;Password</label>
        <input id="password" autocomplete="off" type="password" ng-model="form.password"/>
      </md-input-container>
      <md-input-container flex="33" class="signup-component">
        <md-select
            id="conferenceSelect"
            required ng-model="form.conferenceInput"
            placeholder="Conference"
            ng-change="$ctrl.selectChange()"
        >
          <md-option ng-repeat="conference in $ctrl.events track by $index" value={{conference}}>
              {{conference.name}}
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container flex="33">
        <md-select id="roleSelect"
            required
            ng-disabled="$ctrl.isNewEvent"
            ng-model="form.role" md-on-open="$ctrl.loadRoles()"
            placeholder="Role"
        >
          <md-option ng-repeat="role in $ctrl.roles track by $index" value={{role}}>
              {{role.charAt(0).toUpperCase() + role.slice(1)}}
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container flex="33">
        <md-select
            id="jobSelect"
            required
            ng-model="form.job"
            md-on-open="$ctrl.loadJobs()"
            placeholder="Job"
            ng-disabled="$ctrl.isNewEvent"
        >
          <md-option ng-repeat="job in $ctrl.jobs track by $index" value={{job}}>
              {{job.charAt(0).toUpperCase() + job.slice(1)}}
          </md-option>
        </md-select>
      </md-input-container>
      <md-button class="md-accent md-raised" aria-label="Sign Up" ng-click="$ctrl.handleClick()">Sign Up</md-button>
    </form>
  </div>
</div>
