<div flex layout="column" layout-align="center center" class="signin container">
  <div flex="75"layout="column" layout-align="center center" md-whiteframe="5" class="signin-form">
    <form flex layout="row" layout-align="end center" layout-wrap>
      <h1 flex="100" class="md-display-2">Sign Up</h1>
      <md-input-container flex="50">
        <label for="firstname">First name</label>
        <input id="firstname" autocomplete="off" type="firstname" ng-model="form.firstname"/>
      </md-input-container>
      <md-input-container flex="50">
          <label for="lastname">Last name</label>
          <input id="lastname" autocomplete="off" type="lastname" ng-model="form.lastname"/>
      </md-input-container>
      <md-input-container flex="50">
          <label for="email">Email</label>
          <input id="email" autocomplete="off" type="email" ng-model="form.email"/>
      </md-input-container>
      <md-input-container flex="50">
        <label for="password">&nbsp;&nbsp;Password</label>
        <input id="password" autocomplete="off" type="password" ng-model="form.password"/>
      </md-input-container>
      <md-input-container flex="30">
        <md-select id="conferenceSelect" required ng-model="form.conference" placeholder="Conference">
          <md-option ng-repeat="conference in $ctrl.conferences track by conference.id" value={{conference}}>{{conference.name}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container flex="30">
        <md-select id="roleSelect" required ng-model="form.role" placeholder="Role">
          <md-option ng-repeat="role in $ctrl.roles track by role.id" value={{role}}>
              {{role.name.charAt(0).toUpperCase() + role.name.slice(1)}}
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container flex="30">
        <md-select id="jobSelect" required ng-model="form.job" placeholder="Job">
          <md-option ng-repeat="job in $ctrl.jobs track by job.id" value={{job}}>
              {{job.name.charAt(0).toUpperCase() + job.name.slice(1)}}
          </md-option>
        </md-select>
      </md-input-container>
      <md-button class="md-accent md-raised" aria-label="Sign Up" ng-click="$ctrl.handleClick()">Sign Up</md-button>
    </form>
  </div>
</div>
